# Build products
/**/build*/

# Temporary files
*.swp
*~
*.bak
*.o
*.obj
*.so
*.core
*.a
*.la
*.lib
*.temp
*.dll
*.exe

# Test output
out/*
out.wav

# Stuff from various IDE's
.idea/*
*.xcodeproj
nbproject/*
*.perspectivev3
*.pbxuser
*.user
*.sdf
*.opensdf
*.suo
*.log
*.tlog
*.idb
*.pdb
*.lastbuildstate
*.cbp
*.db
*.opendb

# Non-redistributable third-party
vendor/vstsdk2.4/*

# Vim helpers
tags
cscope.out

